* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.main-page-content {
  height: 100%;
  width: 100vw;
}

.login-page__container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("./assets/auth_background.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(8px); /* For older Safari browsers */
}

.login-page__container > .login-form-overlay__container {
  width: 80%;
  height: 90%;
  background: #fff;
  border-radius: 2rem;
  z-index: 1;
  box-shadow: 0px 18px 31px 6px rgb(3, 97, 218);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  /* change dimensions in smaller screens  */
}

.login-form-verlay-left__container {
  width: 40%;
}

.login-form-verlay-left__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.login-form-verlay-right__container {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-form-verlay-right__container > .heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.form__container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form__container > .input_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input_group > .input-label {
  font-size: 14px;
}

.input_group > .input-box {
  padding: 0.75rem 0.5rem;
  border-radius: 4px;
  border: 1px solid grey;
  outline: none;
}

.input-box.error {
  border-color: #cb411a;
}

.input_group > .error-text {
  font-size: 0.75rem;
  font-weight: 500;
  color: #cb411a;
}

.primary-btn {
  width: 100%;
  border-radius: 4px;
  outline: none;
  padding: 0.75rem 0.5rem;
  text-align: center;
  background-color: #007adf;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.primary-btn:hover {
  background-color: #035ca4;
}

.primary-link {
  font-weight: 400;
  color: #004ad4;
  cursor: pointer;
}

.dashboard__container {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.add-filter-btn,
.reset-btn {
  padding: 0.5rem;
  border: 1px solid grey;
  color: #242323;
  cursor: pointer;
  width: max-content;
}

.filter-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #cbcaca1b;
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-modal__container {
  background: #fff;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(196, 195, 195);
  padding: 1rem;

  position: relative;
}

.action-btns__container {
  position: absolute;

  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.apply-btn {
  border-radius: 4px;
  outline: none;
  padding: 0.75rem 0.5rem;
  text-align: center;
  background-color: #007adf;
  color: #fff;
  cursor: pointer;
}

.filter_contents {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0 auto;
  width: 90%;
  gap: 1rem;
}

.filter-date {
  width: 75%;
}

.filter-age,
.filter-gender {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.d-flex {
  display: flex;
  gap: 0.5rem;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container > input {
  padding: 0.25rem 0.75rem !important;
  width: 100% !important;
}

.charts__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}

.chart-container {
  width: 650px !important;
  /* width: 100% !important; */
  height: 60vh !important;
  overflow-x: scroll;

}
